extends layout 

block content 

  .deleteContainer
    h1 Delete 
      a(class="itemLink" href=composer.url) #{composer.fullname}
    if opera_list && opera_list.length > 0 
      h2 To delete this composer, you must first delete these opera records: 
      ul
        each opera in opera_list 
          li
            a(href=opera.url) #{opera.name}
    else 
      h2 Are you sure you want to delete this composer?
      form(method='POST' action='')
        input(type='hidden', name='composerId', required='true', value=composer._id )
        input(type='submit' value="Yes, Delete")  