extends layout 

block content 

  .formContainer 
    .formHeader
      h1.formTitle= title 
      .detailEditButtons
        if !inputs
          a(class="cancelButton" href='/operas') ❌
        else if inputs 
          a(class="cancelButton" href="/opera/"+inputs._id) ❌
    if errors 
      h2 Errors: 
      each error in errors 
        p= error.msg
    form(action=action method="POST")
      .inputAndLabel  
        label(for="name") Opera Name: 
        input(
          id="name" 
          name="name" 
          type="text" 
          placeholder="e.g. Madama Butterfly"
          value=(inputs===undefined ? "" : inputs.name)
        )
      
      .inputAndLabel
        label(for="composer") Composer: 
        select(id="composer" name="composer" required)
          each composer in composer_list
            option(
              value=composer._id
              selected=(inputs!==undefined && composer._id.toString()===inputs.composer.toString() ? true : false)
            ) #{composer.fullname}
        a(class="addComposerMsg" href="/create/composer") + Add new composer
      
      .inputAndLabel
        label(for="premiere_date") Opera Premiere Date: 
        input(
          id="premiere_Date" 
          name="premiere_date" 
          type="date" 
          placeholder="mm/dd/yyyy"
          value=(inputs===undefined ? "" : inputs.premiere_date_form)
        )

      .inputAndLabel  
        label(for="language") Original Language: 
        input(
          id="language" 
          name="language" 
          type="text" 
          placeholder="e.g. Italian"
          value=(inputs===undefined ? "" : inputs.language)
        )

      .inputAndLabel
        label(for="number_of_acts") Number of Acts: 
        input(
          id="number_of_acts" 
          name="number_of_acts" 
          type="number" 
          placeholder="e.g. 3"
          value=(inputs===undefined ? "" : inputs.number_of_acts)
        )

      fieldset      
        legend
          span.legendHeader Tags:
          if tag_list && tag_list.length > 0
            each tag in tag_list 
              .boxAndLabel
                input(
                  type="checkbox" 
                  name="tags" 
                  value=tag._id 
                  id=tag.name+tag._id
                  checked=(inputs!==undefined && inputs.tags.includes(tag._id) ? true : false)
                )
                label(class="tagLabel" for=tag.name+tag._id)= tag.name
        a(class="createTagBtn" href="/create/tag")  + Create new tag 

      .inputAndLabel       
        label(for="synopsis") Synopsis: 
        textarea(
          id="synopsis" 
          name="synopsis"
          cols="80"
          rows="10"
          value=(inputs===undefined ? "" : inputs.synopsis)
        )
          - if (inputs !== undefined) 
              | #{inputs.synopsis}
      
      .inputAndLabel
        input(type="submit" value="Submit")