extends layout

block content
  h1 #{opera.name} 
  h2 An Opera 
    if opera.number_of_acts
      | in #{opera.number_of_acts} Acts 
    | by 
    a(href= opera.composer.url) #{opera.composer.fullname} 
  if opera.premiere_date
    p Premiered: #{opera.premiere_date_local}
  if opera.language 
    p Language: #{opera.language}
  if opera.synopsis
    h3 Synopsis:
    p.synopsis= opera.synopsis

  h2 Arias from this opera 
  if aria_list 
    ul 
      each aria in aria_list 
        li 
          a(href= aria.url) #{aria.name}
  a(href="/create/aria") Add Aria 
  hr
  a(href="/update"+opera.url) Update this opera 
  a(href="/delete"+opera.url) Delete this Opera 




