extends layout 

block content 
  h1= title 

  .formContainer 
    form(action=action method="POST")
      label(for="name") Tag Name: 
      input(
        id="name" 
        name="name" 
        type="text" 
        required 
        placeholder="e.g. Vengeful"
        value=(inputs===undefined ? "" : inputs.name)
      )
      input(type="submit" name="submit" value="Submit")    